* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #0e0e0e;
}

nav{
    background-color: chocolate;
    width: 100%;
    height: 80px;
    position: fixed;
}

.logo {
    color: #fff;
    position: relative;
    top: 20%;
    left: 4%;
    cursor: pointer;
    font-size: 25px;
}

.logo:hover {
    animation-name: move;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {transform: translate(0, 0) rotateZ(2deg);}
    25% {transform: translate(0, 0) rotateZ(10deg);}
    50% {transform: translate(0, 0) rotateZ(30deg);}
    75% {transform: translate(0, 0) rotateZ(-2deg);}
    100% {transform: translate(0, 0) rotateZ(-10deg);}
}

.navCONT{
    position: relative;
    top: 4%;
    left: 55%;
}

.nav {
    color: #fff;
    text-decoration: none;
    margin-left: 3%;
    font-size: 20px;
}

.navBTN {
    text-decoration: none;
    background-color: #0e0e0e;
    color: #fff;
    padding: 10px 40px;
    border-radius: 4px;
    margin-left: 3%;
    font-size: 20px;
}

.firtsPart {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.titleONE {
    padding-top: 20%;
    color: #fff;
    font-size: 65px;
    width: 58%;
    margin-left: 20%;
}

.oneBTN {
    background-color: chocolate;
    border-radius: 4px;
    color: #fff;
    width: 150px;
    height: 55px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.secPart {
    padding-top: 20%;
    padding-bottom: 20%;
}

.in {
    margin-left: 20%;
}

.p {
    color: #fff;
    font-size: 35px;
}

.secTI {
    margin-left: 13%;
    margin-bottom: 5%;
}

input {
    border-radius: 50px;
    outline: none;
    height: 40px;
    width: 400px;
    padding-left: 13px;
    margin-left: 10%;
    margin-right: 2%;
    border: none;
}

.twoBTN {
    background-color: chocolate;
    border-radius: 40px;
    color: #fff;
    width: 100px;
    height: 45px;
    cursor: pointer;
    border: none;
}

.hr {
    background-color: chocolate;
    height: 2px;
    width: 900px;
    margin-left: 13%;
}

.thirTOTAL {
    view-timeline-name: section;
    view-timeline-axis: block;

    animation-timeline: section;
    animation-name: appear;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

.cent {
    text-align: center;
    margin-bottom: 2%;
}

.row {
    display: flex;
    flex-direction: row;
}

.marL {
    padding-left: 11%;
}

.holder {
    width: 16%;
    height: 270px;
    background-color: chocolate;
    margin: 2.5%;
    border-radius: 10px;
}

/* .holder:hover {
    width: 14%;
    height: 250px;
    box-shadow: rgba(211, 91, 5, 0.623) 0px 4px 10px;
    margin: 0, 2%;
} */

.mar {
    text-align: center;
    margin-bottom: 7%;
}

.thirdBTN {
    background-color: chocolate;
    width: 120px;
    height: 50px;
    border: none;
    color: #fff;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.scroll {
    overflow-x: scroll;
    width: 72%;
    margin-left: 13%;
    margin-bottom: 7%;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #241500;
}

::-webkit-scrollbar-thumb {
    background-color: chocolate;
}

.rowSCROLL {
    display: flex;
    flex-direction: row;
    width: 354%;
}

.hold {
    width: 54%;
    height: 200px;
    background-color: chocolate;
    margin: 20px;
    border-radius: 7px;
}

footer {
    background-color: chocolate;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
}

.inFOO {
    margin-top: 3%;
    margin-left: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fo {
    color: #fff;
    margin-left: 2%;
    font-size: 20px;
}

.lastBTN {
    cursor: pointer;
    height: 30px;
    color: #fff;
    background-color: #0e0e0e;
    width: 300px;
    border-radius: 4px;
    border: none;
    margin-left: 2%;
    font-size: 20px;
}